<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- 
		By default the asp code will call asp.net and use the system
		temp folder to create an athentication file that can be validated,
		but in some shared hosting situations the security settings 
		in the Asp.Net side might not allow to read that file.
		In those situations, you can assign a path here (full system
		path, ex: c:\inetpub\wwwroot\userfiles\_aspNet\ )
		and put that same value in the config.asp file and it will be used
		instead of the default temp path
		-->
		<add key="CKFinderTempPath" value="" />
	</appSettings>
	<system.web>
	</system.web>
</configuration>
